* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.827), rgba(0, 0, 0, 0.712));
}

.container {
    margin-top: 10px;
    height: 700px;
    border: 0.5px solid transparent;
    border-radius: 10px;
}

.shoe {
    float: left;
    padding-top: 15px;
    margin-left: 25px;
    margin-top: 25px;
    background: white;
    height: 300px;
    width: 18%;
    border-radius: 10px;
    line-height: 15px;
    box-shadow: 5px 5px 4px gray;
}

.material-icons.sc {
    margin-left: 240px;
}

#macbook
{
    height: 125px;
    width:150px;
    margin-left: 50px;
}
#mac
{
    margin-left: 70px;
}
#macprice
{
    margin-left: 85px;
}
#samsung
{
    height: 125px;
    width:175px;
    margin-left: 60px;
}
#sam
{
    margin-left: 70px;
}
#samprice
{
    margin-left:90px;
}
img {
    height: 125px;
    width: 125px;
    margin-left: 70px;
}

h3 {
    margin-left: 75px;
}

p {
    font-size: 15px;
    line-height: 3px;
    margin-left: 48px;
}

.price {
    line-height: 10px;
    margin-left: 100px;
    color: gray;
    font-size: 22px;
}

.shoe button {
    width: 65%;
    height: 30px;
    background: black;
    color: white;
    margin-left: 8px;
    border-radius: 5px;
}

.cart button {
    width: 65%;
    height: 30px;
    background: black;
    color: white;
    margin-left: 8px;
    border-radius: 5px;
}

#hoodie {
    margin-left: 50px;
}

#cricket {
    margin-left: 90px;
}

#football {
    margin-left: 95px;
}

#jeans {
    margin-left: 80px;
}

#t-shirt {
    margin-left: 60px;
}

#sunglasses {
    margin-left: 85px;
}

.proceed {
    margin-top: 25px;
}

#checkout {
    margin-top: 100px;
    line-height: 20px;
    background: black;
    color: white;
    height: 40px;
    width: 20%;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 2px gray;
}

a {
    color: black;
    cursor: pointer;
}

a button {
    cursor: pointer;
}

.header {
    margin-left: 25px;
    margin-top: 20px;
}



@media (width:820px)
{
    .container
    {
        height: 1100px;
    }
    img
    {
        height:80px;
        margin-left: 16px;
        width:115px;
        margin-top: 10px;
    }
    .material-icons.sc 
    {
    margin-left: 115px;
    }
    h3
    {
        margin-left: 45px;
    }
#hoodie 
{
    margin-left: 25px;
}

#cricket 
{
    margin-left: 30px;
}

#football {
    margin-left: 45px;
}

#jeans {
    margin-left: 30px;
}

#t-shirt 
{
    margin-left: 35px;
}

#sunglasses 
{
    margin-left: 30px;
}

.proceed {
    margin-top: 25px;
}
#one,#two
{
    display: none;
}
p
{
    line-height: normal;
    margin-left: 25px;
}
.price
{
    margin-left: 45px;
}
.shoe
{
    width:20%;
    height: 315px;
}
.shoe button
{
    margin-top: 5px;
}
#ball
{
    margin-top: 32px;
}
}