* {
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    background: linear-gradient(rgba(0, 0, 0, 0.827), rgba(0, 0, 0, 0.712));
}
.container {
    margin-top:10px;
    height: 700px;
    border: 0.5px solid transparent;
    border-radius: 10px;
}

.shoe {
    float: left;
    padding-top: 15px;
    margin-left: 25px;
    margin-top: 25px;
    background: white;
    height: 300px;
    width: 18%;
    border-radius: 10px;
    line-height: 15px;
    box-shadow: 5px 5px 4px gray;
}

.material-icons.sc {
    margin-left: 240px;
}

img {
    margin-left: 70px;
}

h3 {
    margin-left: 75px;
}

p {
    font-size: 15px;
    line-height: 3px;
    margin-left: 48px;
}

.price {
    line-height: 10px;
    margin-left: 100px;
    color: gray;
    font-size: 22px;
}

.shoe button {
    width: 65%;
    height: 30px;
    background: black;
    color: white;
    margin-left: 8px;
    border-radius: 5px;
}

.cart button {
    width: 65%;
    height: 30px;
    background: black;
    color: white;
    margin-left: 8px;
    border-radius: 5px;
}

#hoodie {
    margin-left: 50px;
}

#cricket {
    margin-left: 90px;
}

#football {
    margin-left: 95px;
}

#jeans {
    margin-left: 80px;
}

#t-shirt {
    margin-left: 60px;
}

#sunglasses {
    margin-left: 85px;
}

.proceed {
    margin-top: 25px;
}

#checkout {
    margin-top: 100px;
    line-height: 20px;
    background: black;
    color: white;
    height: 40px;
    width: 20%;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 2px gray;
}
a
{
    color: black;
    cursor: pointer;
}
a button
{
    cursor: pointer;
}
.header
{
    margin-left:25px;
    margin-top:20px;
}
