* {
    padding: 0px;
    font-family: sans-serif;
}
body
{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
}
.heading {
    margin-top: 10px;
    margin-top: 25px;
    color: white;
    text-align: center;
}
img
{
    background: transparent;
}

.container {
    height: 550px;
    margin: 8rem 35rem 8rem 35rem;
    background: rgb(51, 47, 47);
    box-shadow: 3px 3px 2px blue;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
}

form {
    text-align: center;
    margin-bottom: 10px;
}

form input {
    background: white;
    height: 40px;
    width: 90%;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 2px solid grey;
}

input:focus {
    margin-left: 10px;
    color: black;
}

input:focus::placeholder {
    font-weight: 200;
    color: black;
}

.footer {
    color: white;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 10px;
}

a {
    color: gray;
}

button {
    background: black;
    color: white;
    height: 40px;
    width: 90%;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 2px gray;
}